<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/static/img/logo.png" />
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/layer/layer.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
</head>
<body onload="ok()">
<a style="color: #FD482C;font-size: larger" href="Register.html">充值成功，进入游戏查看！点击返回首页</a>
<script>
    function ok() {
        layer.alert("恭喜，充值成功！")
    }
</script>
</body>
</html>