

<!DOCTYPE html>
<html lang="en">
<head>
    <title>区组配置</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/layer/layer.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>管理员配置</legend>
</fieldset>
<form id="updAdminForm" class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">管理员用户</label>
        <div class="layui-input-inline">
            <input type="text" name="username" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">管理员密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="UpdAdminButton" type="button" class="layui-btn">更新配置</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("UpdAdminButton").addEventListener("click", updAdminPwd);
    function updAdminPwd() {
        $.ajax({
            type: "POST",
            url: "updAccount",
            data: $('#updAdminForm').serialize(),
            success: function (result) {
                if(result){
                    layer.confirm('修改成功，需要重新登录吗？', {
                        btn: ['确定', '再想想'] //按钮
                    }, function () { //点击第一个按钮后的操作
                        window.open("../../Logout","_parent");
                    }, function () {//点击第二个按钮后的操作
                        layer.msg("好的", {icon: 1})
                    });
                }
                else {
                    layer.msg("修改失败，请重试", {icon: 1})
                }
            }
        })
    }

</script>
</body>
</html>
